.navbar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

li {
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
}

.name {
    cursor: pointer;
    color: #fff;
}

.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    margin-right: 2%;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}
.loginButton {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: black;
    background: rgba(255, 255, 255);
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: background 0.2s ease;
}

.getStartedButton {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    background: #646cff;
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: background 0.2s ease;
}

.contactButton:hover {
    background: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 768px) {
    .buttonContainer {
        order: 2;  /* Places it between the name and hamburger menu */
    }
}


@media screen and (max-width: 768px) {
    .name{
        margin-right: auto;  /* Pushes everything else to the right */
        margin-left: 2%;     /* Adds some spacing from the left edge */
        order: 0
    }

    .menuButton {
        display: flex;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(4px);
    }

    .navLinks {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 30%;
        padding: 1rem;
        border-radius: 12px;
        z-index: 10;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(8px)

    }

    @media (max-width: 445px) {
        .navLinks{
            width: 50%;
        }
    }

    a{
        text-decoration-line: none;
    }

    .showMenu {
        display: block;
    }

    .navLinks li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .contactButton {
        margin-left: auto;
    }
}